header{
position: fixed;
z-index: 999;
top: 0;
left: 0;
right: 0;
height:70px ;
display: flex;
justify-content: space-between;
align-items: center;
background: transparent;
transition: all ease 0.5s;
}
.header--logo{
  height:25px ;
  padding:0px 30px;
}
.header--logo img{
  height: 100%;

}

.header--user{
  height: 30px;
  padding:0px 30px;
 
}
.header--user img{
  height: 100%;
  border-radius: 3px;
}

Header.black{
  background: #141414;
}

@media (max-width:760px) {
  Header.black{
    top: 0px;
    
  }

  header{

    transition: 0.5s;
  }

}